<!-- <div class="date-directive">
  <h1>Directive title: {{title}}</h1>
  <p>This is an example of a directive, click me!</p>
</div>
 -->



<div class="input_form input_container" role="Date picker for Departure">
 {{title}} | {{dateFrom}}
    <label class="input_container__title">Depart</label>
    <div class="input_container__middle">
        <label class="input_container__middle__left">12</label>
        <div class="input_container__middle__right">
            <span>Jun</span>
            <span>2014</span>
        </div>
    </div>
    <button class="input_container__button">Change date</button>
</div>
